@import 'tailwindcss';
@import './assets/fonts/font.css';

@layer components {
	.align-element {
		@apply mx-auto max-w-7xl px-8;
	}
	.bg-gradient-brand {
		@apply bg-gradient-to-r from-cyan-500 to-blue-500;
	}
	.bg-gradient-grey {
		@apply bg-gradient-to-r from-slate-300 to-slate-500;
	}

	.gradient-title {
		@apply bg-gradient-to-r from-cyan-500 to-blue-800;
		background-clip: text;
		color: transparent;
	}
}

@layer utilities {
	.swiper-wrapper {
		@apply pb-10;
	}
	.swiper-button-next,
	.swiper-button-prev {
		@apply bg-white rounded-full shadow-md w-10 h-10 flex items-center justify-center text-gray-700;
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		@apply text-base font-bold;
	}
	.swiper-button-next svg,
	.swiper-button-prev svg {
		height: 22px !important;
	}
	.swiper .swiper-pagination-progressbar {
		top: auto !important; /* disattiva posizione default */
		bottom: 0; /* mettila in basso */
		height: 4px; /* spessore barra */
		//background: rgba(0, 0, 0, 0.1); /* colore base */
	}

	.swiper .swiper-pagination-progressbar-fill {
		//background: #0ea5e9; /* sky-500 */
	}
}
@layer base {
	body {
		font-family: 'Stag', Georgia, Times, 'Times New Roman', serif;
		font-size: 20px;
		line-height: 1.6;
		font-weight: 300;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-rendering: optimizelegibility;
	}

	/* BONUS */
	/* Gradient Text */
	h1 {
		font-weight: 600;
		background-clip: text;
		color: transparent;
	}
}
